[submodule "ohmyzsh"]
	path = ohmyzsh
  url = https://github.com/ohmyzsh/ohmyzsh
[submodule "alacritty/themes"]
	path = alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule "raycast/extensions/raycast-ollama"]
	path = raycast/extensions/raycast-ollama
	url = git@github.com:Serginho/raycast-ollama.git
[submodule "raycast/extensions/raycast-local-bookmarks"]
	path = raycast/extensions/raycast-local-bookmarks
	url = git@github.com:Serginho/raycast-local-bookmarks.git
[submodule "raycast/extensions/raycast-slack"]
	path = raycast/extensions/raycast-slack
	url = git@github.com:Serginho/raycast-slack.git
