[submodule "ohmyzsh"]
	path = ohmyzsh
  url = https://github.com/ohmyzsh/ohmyzsh
[submodule "alacritty/themes"]
	path = alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule "raycast/extensions/raycast-ollama"]
	path = raycast/extensions/raycast-ollama
	url = git@github.com:Serginho/raycast-ollama.git
