[user]
	name = Serginho
	email = madridserginho@hotmail.com
[color]
	ui = true
	diff = true
	status = true
	branch = true
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lc = log --stat --color -p
	ll = log --oneline --decorate --color --graph
	graph = log --graph --decorate --all
	dt = difftool
        # Shows a list of branches sorted by last change. Useful when you have a lot
        #   # of branches with similar names and you're not sure anymore which branch is
        #     # the right now.
	brl = for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:short) %(refname:short)'
[push]
	default = simple
[core]
	editor = vim
